.inline-block logo {
        height: auto;
        max-width: 10%;
        background-color: aqua;
        transform: rotate(30deg);
      }
.content {
    height: auto;
    max-width: 10%;
    justify-content: right;
}