.background {
  background-color: #F8E0DA;
  color: #2B2222;
}
.navTop {
  width: 50%;
  float: right;
  font-family: 'Quicksand', sans-serif;
  color: #2B2222;
  font-weight: 600;

}

a:link {
  text-decoration: none;
  color: #2B2222;
}

a:visited {
  text-decoration: none;
  color: #2B2222;
}

a:hover {
  color: #3163d6;
}

a:active {
  text-decoration: none;
  color: #2B2222;
}

a:focus {
  text-decoration: none;
  color: #2B2222; 
}

.navli:hover {
  transform: scale(1.2);
}

.navli {
  display: inline-block;
  padding: 15px 20px;
  font-size: 18px;
  text-decoration: none;
}

.siteId {
padding-left: 10px;
padding-top: 10px;
transform: rotate(-30deg);
}

.introHey {
  font-family: 'Homemade Apple', cursive;
}

*,
*::before,
*::after {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.projectImg{
display: inline-block;
border-bottom: 3px solid #2B2222;
border-left: 3px solid #2B2222;
border-top: 1px solid #2B2222;
border-right: 1px solid #2B2222;
border-spacing: 50px;
}

.textBox {
background-color: #FFFBF5;
display: inline-block;
margin: 20px;
padding: 40px;
border-width: 1px 1px 2px 2px;
border-style: solid;
border-color: #2B2222;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
text-align: center;
font-weight: 400;
grid-row: 1 / span 2;
grid-column: 1 / span 2;
}

.yellowTape {
  grid-row: 1 / span 2;
  grid-column: 2 / span 3;
  z-index: 2;
  opacity: 0.8;
  max-width: 150px;
  transform: rotate(11deg);
}

.gridLanding {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  align-items: flex-start;
}


.learnMore {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #DE1B40;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  padding-left: 8px;
  padding-top: 8px;
  box-shadow: rgb(0, 0, 0) 8px 8px;
}

.learnMore:hover {
  font-weight: 600;
  box-shadow: rgb(0, 0, 0) 0px 0px;
  border: black solid 2px;
  transition: ease-in-out 0.2s;
  transform: translate(8px, 8px);
}

.gridFooter {
  display: grid;
  grid-template-columns: .05fr 2fr 0.5fr 0.5fr 0.5fr 1fr;
  margin-top: 25px;
  margin-bottom: 40px;
}

.projectGrid {
  display: grid;
  grid-template-columns: 2.5fr 0.25fr 2fr;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 30px;
}

.projectTitle {
  padding-left: 50px;
  background: #fdca3c;
  color: #2B2222;
  display: inline-flex;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 150px;
  margin-left: 20px;
  clip-path: polygon(95% 15%,82% 53%,96% 95%,4% 95%,4% 15%);
}

.orangeSticker {
  transform: rotate(20deg);
}

.latestProjects {
  padding-top: 20px;
  padding-bottom: 20px;
}

.headshot {
max-height: 400px; 
width: auto;
border-top: 20px solid #FFFBF5;
border-left: 20px solid #FFFBF5;
border-bottom: 90px solid #FFFBF5;
border-right: 20px solid #FFFBF5;
filter: drop-shadow(2px 2px 2px) sepia(0.20);
grid-row: 1 / span 2;
grid-column: 4 / span 2;
}


.redAnemone {
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
  transform: rotate(15deg);
  max-width: 140px;
  z-index: 2;
}

.borderclass {
  border-bottom: 4px solid #2B2222;
  border-top: 1px solid #2B2222;
  border-left: 4px solid #2B2222;
  border-right: 1px solid #2B2222;
}

.projectText {
  background-color: #FFFBF5;
display: inline-block;
padding: 40px;
margin-right: 30px;
border-width: 1px 1px 2px 2px;
border-style: solid;
border-color: #2B2222;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.bottomNav {
  float: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 600;
  list-style-type:none;
}

.bottom {
  padding: 4px;
}

body {
  background-color: #FFFBF5;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}