.inline-block logo {
        height: auto;
        max-width: 10%;
        transform: rotate(30deg);
      }
.content {
    height: auto;
    max-width: 10%;
    justify-content: right;
}
body {
  background-color: black;
}